
/*.button{
	background-color: blue;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
*/
.container{
	width: 80%;
	margin: 0 auto;
}
.body{
	background-color: white;
}
/*
.contright{
	position: absolute;
    right: 0px;
    width: 300px;
    border: 3px;
}
*/

.logo{
    width: 15%;
    margin: 4% auto;
    display: block;
    margin-top: 1%;
    margin-left: 10%;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
}

