.visors{
	float: left;
	width:25%;
	margin-left: 40%;
	margin-right: 40%;
}

.valor{
	float: left;
	width: 15.1%;
	margin-left: 40%;
	margin-right: 40%;
}

.valor button{
	width: 47%;
}

.screen input{
	width: 15rem;
	float: left;
	margin-left: 40%;
	margin-right: 40%
}

.visors input{
	width: 27%;
}

