.float_right{
    float: right;
}

h1{
    float: left;
    margin-top: 1.2%;
    margin-left: 1.5%;
    color: #fff;
    font-variant: small-caps;
    font-family: tahoma;
    font-size: 5rem;
}

header {
    background-color: blue;
    height: 10%;
    display: inline-block;
    width: 100%;
}

.barras {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    float: left;
    clear: both;
    width: 100%;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.1rem;
    font-variant: small-caps;
    text-align: center;
    /*padding: 12px 14px; asi funciona*/
    padding: .7rem 1rem;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: orange;
}

.container{
	width: 95%;
	margin: 0 auto;
}

footer{
    float: left;
    width: 100%;
    background-color: blue;
    color: black;
    line-height: 3;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}