.container{
	width: 1200px;
	margin: 0 auto;
}

.logo{
    width: 10%;
    margin: 0 auto;
    /*display: block;*/
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    margin-bottom: 20px;
}

h1{
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    color: #fff;
    font-variant: small-caps;
    font-family: tahoma;
    font-size: 80px;

}

.float_right{
    float: right;
}

.cont{
    width: 100%;
    margin: 0 auto;

}



.body{
	background-image: none;
    background-color: #996633;
}

header {
    background-image: url("firee.jpg");
    height: 260px;
}


.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    float: left;
    clear: both;
    width: 100%;
}

.sect{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;

}

li {
    float: left;
    
}

li a {
    display: block;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    font-variant: small-caps;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: orange;
}

.main{
    background-color: black;
    color: white;
    width: 100%
    border: 0;
    padding: 0;
    margin: 0px;

}

a{
    color: #DAA520;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana;
    font-variant: small-caps;
    color: #251300;
}

h3{
    color: #582C00;
    text-decoration: underline;
}

.popular{
    color: #200000;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 22.6%;
    margin-right: 2%;
    background-color: #996633;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 600px;
}

img{
    width: 200px;
    margin-top: 3px;
    border: 2px solid black;
}

footer{
    float: left;
    width: 100%;
    background-image: url("firee.jpg");
    color: black;
    line-height: 3;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}
/*
.ficthead{
    background-image: none;
    background-color: blue;
    float: left;
    width: 100%;
    color: black;
    line-height: 3;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;

}
*/
.active{
    background-color: orange;
}



a:hover{
    color: #8B0000;
}

.description{
    margin-bottom: 20px;
}

.fourth{
    margin-right: 0px;
    width: 24.8%;
}

.populars{
    float: left;
    width: 100%;
}

.sucursal {
    width: 95.7%;
    background-color: #996633;
    height: 350px;
    /* margin: 2%; */
    border: 2px solid black;
    text-align: left;
    float: left;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    font-variant: small-caps;
    font-family: tahoma;
    color: #200000;
    font-size: 24px;
}

.sucursal img{
    float: left;
    margin: 2%;
    width: 400px;
    height: 300px;
}

.book{
    width: 99.8%;
    border: 2px solid black;
    height: 950px;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    font-variant: small-caps;
    font-family: tahoma;
    color: #200000;
    font-size: 30px;
    margin-bottom: 2%;
}

.book img{
    margin: 0 auto;
    margin-top: 2px;
    width: 600px;
    height: 450px;
}